:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: 
  linear-gradient(
    180deg in oklab, 
    oklch(0% 0.50 230) -37% -37%, oklch(19% 0 313) 119% 119%
  );
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}